{erl_opts, [no_debug_info]}.
{deps, [
  {antidote_pb, {git, "https://github.com/SyncFree/antidote_pb"}}
]}.

{escript_incl_apps,
 [test_rebar]}.
{escript_main_app, test_rebar}.
{escript_name, test_rebar}.
{escript_emu_args, "%%! +sbtu +A1\n"}.

%% Profiles
{profiles, [{test,
             [{erl_opts, [debug_info]}
            ]}]}.
